<header class="clearfix">
    <a ui-sref="/" data-toggle-min-nav class="toggle-min">
        <i class="fa fa-toggle-left"></i>
    </a>

    <!-- Logo -->
    <div class="logo">
        <a ui-sref="/">
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li class="dropdown">
                <a ui-sref="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars nav-icon"></i>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a ui-sref="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block" data-i18n="New a decision tree"></span>
                                    <span class="text-muted block" data-i18n="Building a new decision tree and analytics"></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a ui-sref="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-info"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block" data-i18n="Save current workspace"></span>
                                    <span class="text-muted" data-i18n="It will automatic save when network unblocked"></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a ui-sref="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-danger"><i class="fa fa-table"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block" data-i18n="Check all of your dtrees"></span>
                                    <span class="text-muted"></span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                </div>
            </li>
            <li>
                <a ui-sref="javascript:;" data-launch-full-screen="document.documentElement">
                    <i class="fa fa-arrows-alt nav-icon"  data-i18n="full screen" data-display-area="title"></i>
                </a>
            </li>
            <li>
                <a ui-sref="javascript:;">
                    {{project.project_name}}
                </a>
            </li>
        </ul>


        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown langs text-normal" data-ng-controller="LangCtrl">
                <a ui-sref="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    {{lang}}
                </a>
                <ul class="dropdown-menu with-arrow pull-right list-langs" role="menu">
                    <li data-ng-show="lang !== 'English' ">
                        <a ui-sref="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> English</a></li>
                    <li data-ng-show="lang !== '中文' ">
                        <a ui-sref="javascript:;" data-ng-click="setLang('中文')"><div class="flag flags-china"></div> 中文</a></li>
                </ul>
            </li>
<!--             <li class="dropdown">
                <a ui-sref="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-magic nav-icon"></span>
                </a>
                <ul class="dropdown-menu pull-right color-switch" data-ui-color-switch>
                    <li><a ui-sref="javascript:;" class="color-option color-some_color" data-style="some_color"></a></li>
                </ul>
            </li> -->
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="../lib/flatify-v1.0.1/images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span>{{user.local.email}}</span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a ui-sref="profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="404">
                            <i class="fa fa-check"></i>
                            <span data-i18n="My Tasks"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock"></span>
                        </a>
                    </li>
                    <li>
                        <form name="form" class="form-control btn btn-logout" action="/signout" method="post" accept-charset="utf-8" target="target">
                        <a class=" "href="javascript:;" onclick="document.form.submit();">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n=" Log out"></span>
                        </a> 
                        </form>                         
                    </li>
                </ul>
            </li>
        </ul>        
    </div>

</header>
