<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a ui-sref="/create"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Create"></span> </a></li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"><span class="icon-bg bg-primary-light"></span></i><span data-i18n="Analyze"></span></a>
            <ul>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Rollback"></span></a></li>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Single Scenario Anlys"></span></a></li>

                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="One-way Sens Anlys"></span></a></li>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Two-way Sens Anlys"></span></a></li>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Prob. Sens Anlys"></span></a></li>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Tornado Diagram"></span></a></li>
                <li><a ui-sref="/analyze_rollback"><i class="fa fa-caret-right"></i> <span data-i18n="Micro-Simulation"></span></a></li>

                <li><a ui-sref="/404"><i class="fa fa-caret-right"></i> <span data-i18n="Cross Scenario Anyls"></span></a></li>
            </ul>
        </li>
        <li><a ui-sref="/publish"><i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i><span data-i18n="Publish"></span></a></li>
        <li><a ui-sref="/history"><i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i><span data-i18n="History"></span></a></li>
        <li><a ui-sref="/component"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="test!"></span></a></li>
        
    </ul>
</div>