<div class="app-layout" app-layout ng-controller="aRollbackCtrl">
    <div class="ui-layout-center">
        <div class="row-fluid example">
            <div id="graphic" class="col-md-12">
                <div>
                    <div id="graph" class="graph" style="border:1px solid #000000; height: 400px; "></div>
                    <button type="button" class="btn btn-sm btn-success" ng-click="ajaxChartData()">根据当前数据重新绘图</button>
                    <span class="text-primary">切换主题</span>
                    <select ng-model="selectTheme" ng-options="theme.name for theme in themes" ng-change="changeTheme()"></select>
                    <span id="wrong-message" style="color:red">
                    </span>

                </div>
                <div>
                    {{testdata}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui-layout-south">
        <div class="widget-body">
            <div class="tabs-left">
                <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                    <li class="active">
                        <a href="#tab-r1" data-toggle="tab"><span class="badge badge-success">8</span>Parameter </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-r1">
                        <div angrid="angridOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>