<div class="app-layout" app-layout ng-controller="PublishViewController">
    <div class="ui-layout-center">
        <style>
            .axis path,
            .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }
            .axis path {
                fill: none;
                stroke: none;
            }
            .bar {
                fill: steelblue;
            }
        </style>
        <bar-chart width="options.width" height="options.height" data="data" hovered="onHover(args)"></bar-chart>
        <p>
            bar value: {{ barValue }}
        </p>
    </div>
    <div class="ui-layout-south">
        <chart-form class="visualization-form"></chart-form>
    </div>
</div>