<div class="app-layout" app-layout ng-controller="PublishViewController">
    <div class="ui-layout-center">
        <div class="page page-general ng-scope">
            <div class="row">
                <div class="col-md-6">
                    <div class="dropable panel panel-default" style="height:300px;" >
                        <div class="panel-body text-center">
                            <p class="lead">drop down here</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dropable panel panel-default" style="height:300px;" >
                        <div class="panel-body text-center">
                            <p class="lead">drop down here</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-layout-south">
        <div class="col-md-6">
            <p class="lead">拖动下面的图表到上面的报表中去：</p>
            <div class="subsection bordered image grid">
                <ul>
                    <li id="chart1" class="dragable-charts"><a href="" canvas-ui-switch="blue-print">
                        <span><img src="styles/img/bar5.png" title="blue-print"></span></a>
                    </li>
                    <li id="chart2" class="dragable-charts"><a href="" canvas-ui-switch="white-print">
                        <span><img src="styles/img/map13.png" title="white-print"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <p class="lead">拖动下面的表格到上面的报表中去：</p>
            <div class="subsection bordered image grid">
                <ul>
                    <li id="table1" class="dragable-charts"><a href="" canvas-ui-switch="white-print">
                        <span><img src="styles/img/blueprint.png" title="white-print"></span></a>
                    </li>
                    <li id="table2" class="dragable-charts"><a href="" canvas-ui-switch="white-print">
                        <span><img src="styles/img/blueprint.png" title="white-print"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>