<div class="page page-lock"  data-ng-controller="SelectDtreeCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-history"></span> &nbsp;History</strong></div>
        <div class="panel-body">
            <P>select a project to continue, or creat a new!</P>
            <p><a type="button" class="btn btn-success btn-lg" ui-sref="creates({ project_id: 'dtree-structure3', project_name:'空白的的决策树' })">New project</a></p>
        </div>
    </section>

    <section class="ui-timeline">

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">Today, 3 min ago</div>
                    <div class="tl-icon round-icon sm bg-info"><i class="fa fa-check"></i></div>
                    <div class="tl-content">
                        <div class="panel panel-profile">
                            <div class="panel-heading bg-primary clearfix">
                                <a href="" class="pull-left profile">
                                    <img alt="" src="styles/img/apple-touch-icon-144x144-precomposed.png" class="img-circle img80_80">
                                </a>
                                <h3 class="ng-binding">王二狗的决策树</h3>
                                <p><a ui-sref="create({ project_id: '20141205_new_structure', project_name: '王二狗的决策树' })">click to continue</a></p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">Nov 9th,2014</span>
                                    <i class="fa fa-tree"></i>
                                    <a ui-sref="create({ project_id: '20141205_new_structure', project_name: '王二狗的决策树' })">Decision Tree</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-warning">Nov 9th,2014</span>
                                    <i class="fa fa-pie-chart"></i>
                                    <a ui-sref="analyze_rollback">Single Scenario Anlys</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-info">Nov 9th,2014</span>
                                    <i class="fa fa-newspaper-o"></i>
                                    <a ui-sref="publish">public report</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-success">Nov 9th,2014</span>
                                    <i class="fa fa-newspaper-o"></i>
                                    <a ui-sref="publish">public report2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">Today, 3 min ago</div>
                    <div class="tl-icon round-icon sm bg-info"><i class="fa fa-check"></i></div>
                    <div class="tl-content">
                        <div class="panel panel-profile">
                            <div class="panel-heading bg-primary clearfix">
                                <a href="" class="pull-left profile">
                                    <img alt="" src="styles/img/apple-touch-icon-144x144-precomposed.png" class="img-circle img80_80">
                                </a>
                                <h3 class="ng-binding">原来的王二狗的决策树</h3>
                                <p><a ui-sref="fuck({ project_id: 'dtree-structure1', project_name: '王二狗的决策树' })">click to continue</a></p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">Nov 9th,2014</span>
                                    <i class="fa fa-tree"></i>
                                    <a ui-sref="fuck({ project_id: 'dtree-structure1', project_name: '王二狗的决策树' })">Decision Tree</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-warning">Nov 9th,2014</span>
                                    <i class="fa fa-pie-chart"></i>
                                    <a ui-sref="analyze_rollback">Single Scenario Anlys</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-info">Nov 9th,2014</span>
                                    <i class="fa fa-newspaper-o"></i>
                                    <a ui-sref="publish">public report</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-success">Nov 9th,2014</span>
                                    <i class="fa fa-newspaper-o"></i>
                                    <a ui-sref="publish">public report2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>



        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">yesterday, 8:30 PM</div>
                    <div class="tl-icon round-icon sm bg-warning"><i class="fa fa-check"></i></div>
                    <div class="tl-content">
                        <div class="panel panel-profile" style="text-align: left;">
                            <div class="panel-heading bg-info clearfix">
                                <a href="" class="pull-left profile">
                                    <img alt="" src="styles/img/apple-touch-icon-144x144-precomposed.png" class="img-circle img80_80">
                                </a>
                                <h3 class="ng-binding">dtree-成本分析</h3>
                                <p><a ui-sref="creates({ project_id: 'dtree-structure2', project_name: 'Dtree成本分析' })">click to continue</a></p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">Nov 8th,2014</span>
                                    <i class="fa fa-tree"></i>
                                    <a ui-sref="creates({ project_id: 'dtree-structure2', project_name: 'Dtree成本分析' })">Decision Tree</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-warning">Nov 8th,2014</span>
                                    <i class="fa fa-pie-chart"></i>
                                    <a ui-sref="analyze_rollback">Single Scenario Anlys</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-caption">
                        <a href="javascript:;" class="btn btn-danger btn-block">Registered</a>
                    </div>
                </div>
            </div>
        </article>

    </section>

</div>